<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Version 1.0</comment>
<entry key="maxConnection">20</entry>
<entry key="serverIP4Address">127.0.0.1</entry>
<entry key="serverPort">81</entry>
<entry key="socketTimeout">0</entry>
</properties>
